/* Button Login */
.button-login {
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid #ff0000;
  display: inline-block;
  cursor: pointer;
  color: #ff0000;
  font-family: Arial;
  font-size: 17px;
  padding: 8px 20px;
  margin-right: 10px;
  text-decoration: none;
}

.button-login:hover {
  background-color: #ff0000;
  color: #f0f5ed;
}
.button-login:active {
  position: relative;
  top: 1px;
}

/* Button Regis */
.button-regis {
  background-color: #ff0000;
  border-radius: 20px;
  border: 1px solid #ff0000;
  display: inline-block;
  cursor: pointer;
  color: #f7f7f7;
  font-family: Arial;
  font-size: 17px;
  padding: 8px 25px;
  text-decoration: none;
}

.button-regis:hover {
  background-color: #f0f5ed;
  color: #ff0000;
}
.button-regis:active {
  position: relative;
  top: 1px;
}

.button-trailer {
  margin-top: 1.5vw;
  background-color: #ff0000;
  border-radius: 20px;
  border: 1px solid #ff0000;
  display: inline-block;
  cursor: pointer;
  color: #f7f7f7;
  font-family: Arial;
  font-size: 17px;
  padding: 8px 25px;
  text-decoration: none;
}

.button-trailer:hover {
  background-color: #f0f5ed;
  color: #ff0000;
}
.button-trailer:active {
  position: relative;
  top: 1px;
}

/* Button Dashboard */
.button-dashboard {
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid #ff0000;
  display: inline-block;
  cursor: pointer;
  color: #ff0000;
  font-family: Arial;
  font-size: 17px;
  padding: 8px 20px;
  margin-right: 10px;
  text-decoration: none;
}

.button-dashboard:hover {
  background-color: #ff0000;
  color: #f0f5ed;
}
.button-dashboard:active {
  position: relative;
  top: 1px;
}

/* Button Logout */
.button-logout {
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid #ff0000;
  display: inline-block;
  cursor: pointer;
  color: #ff0000;
  font-family: Arial;
  font-size: 17px;
  padding: 8px 20px;
  margin-right: 10px;
  text-decoration: none;
}

.button-logout:hover {
  background-color: #ff0000;
  color: #f0f5ed;
}
.button-logout:active {
  position: relative;
  top: 1px;
}
